@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GREER AUTOMATION </h1>
    <p class="lead">Where the power of the PC meets the power of the PLC!</p>
    <p><a href="http://greerautomation.com/MyBB/" class="btn btn-primary btn-lg">Forums &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Automation</h2>
        <p>
            Thjsnfjns jsdncsjkc sjfncjasnc skfmksnfkl snjfnsjcfn lwjefnjqnfls,'lf,lcf lnfjsnfl lsknfkmcf jqefnkjqenfl lkrnfklqrfnlq lqkerfnjlqerf.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Robotics</h2>
        <p>NuThjsnfjns jsdncsjkc sjfncjasnc skfmksnfkl snjfnsjcfn lwjefnjqnfls,'lf,lcf lnfjsnfl lsknfkmcf jqefnkjqenfl lkrnfklqrfnlq lqkerfnjlqerf..</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>IoT</h2>
        <p>Thjsnfjns jsdncsjkc sjfncjasnc skfmksnfkl snjfnsjcfn lwjefnjqnfls,'lf,lcf lnfjsnfl lsknfkmcf jqefnkjqenfl lkrnfklqrfnlq lqkerfnjlqerf.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>SCADA</h2>
        <p>
            Thjsnfjns jsdncsjkc sjfncjasnc skfmksnfkl snjfnsjcfn lwjefnjqnfls,'lf,lcf lnfjsnfl lsknfkmcf jqefnkjqenfl lkrnfklqrfnlq lqkerfnjlqerf.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>PLCs</h2>
        <p>Thjsnfjns jsdncsjkc sjfncjasnc skfmksnfkl snjfnsjcfn lwjefnjqnfls,'lf,lcf lnfjsnfl lsknfkmcf jqefnkjqenfl lkrnfklqrfnlq lqkerfnjlqerf.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Software Solutions</h2>
        <p>Ylkasxas aksnksnadkl sljndjsdnjlc sjdnfjsnjf sd;odpewl'dfkef erjfqejnfjqernfjl qefklqekfnqlfrn qelkrfqekmfnklqer </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>